{% extends "base.html"%}
{% block title %}resultat{% endblock %}
{% block content %}
<h1 align="center">Resultats  </h1>
<div style="width: 50%;  margin-left: auto;margin-right: auto;">
    <ul  align="center" class="list-group list-group-flush" >
    <form  method="POST" action="/result">
        {% for fname in fln %}
            {% if  fname.startswith(mloName) %}
                <li class="list-group-item list-group-item-action">
                    <input  class="btn btn-lg" type="submit" value ="{{fname}}" name="button">
                </li>
            {%endif%}
        {% endfor %}
    </form>
</ul>
</div>

{% endblock %}